.attention-getter {
  margin: 0px!important;
  padding: 0px!important;
  height: 500px; 
  width: 100vw!important;
  display: flex;
}

/* .hero-img {
  width: 600px;
} */

.hero-text {
  padding-top: 120px;
  align-items: center;
}

.attention-title {
  /* border: solid black 2px; */
  font-size: 50px;
}

.standard-photo {
  /* border: solid black 2px; */
  height: 300px;
}

.hero-col-left {
  width: 50%;
  float: left;
}

.hero-col-right {
  width: 50%;
  
}

.hero-img-1 {
  width: 100%;
  opacity: 80%;
}

.hero-img-2 {
  width: 100%;
  opacity: 80%;
}

.app-intro {
  width: 600px;
  position: absolute;
  top: 470px;
  left: 34%;
  background-color: white;
  z-index: 10;
  color: black;
  border-radius: 10px;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  padding: 20px;
}