.attention-getter {
  margin-bottom: 50px;
  height: 400px; 
  width: 100vw!important;
  
}

.hero-img {
  width: 600px;
}

.hero-text {
  padding-top: 120px;
  align-items: center;
}

.attention-title {
  /* border: solid black 2px; */
  font-size: 50px;
}

.attention-para {
  /* border: solid black 2px; */
}

.attention-end {
  /* border: solid black 2px; */
}

.standard-photo {
  /* border: solid black 2px; */
  height: 300px;
}