.miniCard {
    margin-bottom: 10px;
    width: 515px;
    color: white;
    
}

.mdb-minicard {
    background-color: rgba(35, 115, 168, 0.25)!important;
    height: 150px;
}

.minicard-pic {
    border-radius: 8px;
    float: left;
    width: 200px!important;
    height: 147px!important;
    object-fit: cover;
}


.btn-col {
   display: flex; 
   justify-content: center;
   align-items: center; 
}

.btn {
    background-color:#ade990!important;
    color: black!important;
}

