.miniCard {
    margin-bottom: 10px;
    width: 515px;
    color: white;
    
}

.mdb-minicard {
    background-color: rgba(255, 255, 255, .25)!important;
    height: 150px;
}

.minicard-pic {
    width: 200px;
}

.btn-col {
    display: flex;
    align-items: center;
}