.dashboardPageContainer {
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-top: 50px;
    background: rgb(82,222,151);
    background: linear-gradient(10deg, rgba(217, 114, 255, .5) 0%, rgba(34,40,49,1) 46%); 
}

