.dashboardPageContainer {
    display: flex;
    justify-content: space-around;
    /* color: white; */
    padding-top: 50px;
    
    
}

.left-col {
    max-width: 650px!important;
}

.gutters {
    margin-left: 100px;
    margin-right: 100px;
}

