.background {
  position: absolute;
  left: 0;
  right: 0;
  
}

.top {
  padding: 0px!important;
  margin-bottom: 100px;
}

.middle {
  margin-top: 300px;
  margin-bottom: 100px;
  height: 500px;
  width: 100vw;
  background: linear-gradient(1deg, rgba(82, 222, 151, .3) 0%, rgba(255,255,255,1) 46%);
  border-radius: 10px;
}

.bottom {
  margin-top: 300px;
  margin-bottom: 100px;
  height: 500px;
  width: 100vw;
  background: linear-gradient(8deg, rgba(82, 222, 151, .5) 0%, rgba(255,255,255,1) 46%);
  border-radius: 10px;
}

.app-name {
  color: #52DE97
}
