.connectionsContainer {
    /* background-color:  rgba(255, 255, 255, .4); */
    background-color: rgba(54, 119, 161, 0.2);
    border-radius: 10px;
    padding: 10px;
    width: 550px!important;
    height: 460px;
    float: left;
    margin-bottom: 50px;
    margin-left: 10px!important;

}

.tab-content {
    overflow: auto;
    height: 370px;
    background-color: rgba(255, 255, 255, .05);
    border-radius: 10px;
}

.pending-tab {
    background-color: rgba(255, 255, 255, 0.8)!important;
}