#profileCard {
  display: flex;
  flex-direction: row;
  margin: 20px;
  flex-flow: space-around;
  /* https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  max-width: 100%;
}

#profileCard-left-column {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}

#profileCard-left-column button {
  margin-top: 10px;
  width: 200px;
}

#profileCard-left-column img {
  border-radius: 8px;
  float: left;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#profileCard-right-column {
 display: flex;
 flex-direction: column;
}

#profileCard-right-column-top {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#profileCard-right-column-bottom {
  display: flex;
  margin-top: 20px;
  gap: 40px;
  width: 50%;
}

#property-display-component {
  padding: 10px;
  width: 300px;
  border-radius: 8px;
  box-shadow: rgba(94, 156, 141, 0.16) 0px 1px 4px, rgb(26, 153, 147) 0px 0px 0px 3px;
}

#property-display-items {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}