.profileInfoContainer {
    padding: 10px;
}

.aboutMe {
    width: 350px;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, .1);
    padding: 10px;
}

.experiences {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .1);
    text-align: left;
    padding: 10px;
}



